@font-face {
  font-family: "ComingSoon";
  src: url("./assets/font.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


body {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
  background-color: #191a1c;
  min-height: calc(var(--vh, 1vh) * 100);
}

header {
  color: #fff;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 0 20px 0 20px;
}

header p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

header p:hover {
  color: #e41a1a;
  text-decoration: none;
  cursor: pointer;
}

header img:first-child {
  width: 4em;
}
.mainContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.mainContainer h1 {
  font-family: "ComingSoon", sans-serif;
  font-weight: 600;
  background-image: url(https://media0.giphy.com/media/l4FGm5Sy9OYaqEvi8/giphy.gif?cid=ecf05e47ihw4kddv21x4e9rxy79umlxazqml5zwj3744immz&ep=v1_gifs_related&rid=giphy.gif&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 120px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 120px;
}

.mainContainer a {
  text-decoration: none;
  color: #fff;
}	

.mainContainer p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.mainContainer .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  height: 60px;
  width: 148px;
  border: none;
  background: #056bfa27;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none !important;
}

.mainContainer .label {
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.button:hover {
  background: #056bfa49;
}

.button:hover .svg-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


footer {
  background-color: #191a1c;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 10em;
  height: auto;
  margin: 0;
  padding: 0;
}

footer div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: last baseline;
  padding-bottom: 10px;
}

footer div a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
}

footer div a:hover {
  color: #e41a1a;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 768px) {

  header img:first-child {
    width: 3em;
  }

  header img:last-child {
    width: 7em;
  }

  header p {
    display: none;
  }

  .mainContainer {
    height: fit-content;
    height: 20px; 
  }

  h1{
    font-size: 70px;
    background-color: red;
  }

  p{
    font-size: 15px;
  }
}


.modal-body > button{
  box-sizing: border-box;
  display: block;
  margin: 20px auto;
  background-color: crimson;
  color: black;
  border: 0;
  cursor: pointer;
  padding: 6px 10px;
  opacity: 1;
  transition: 0.2s;
  border-radius: 15px;
}
button:hover{
  opacity: .5;
}
#fade, #modal{
  transition: .5s;
  opacity: 1;
  pointer-events: all;
}
#fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 5;
}


#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10; 
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 90%;
  background-color: #333131;
  padding: 1.2rem ;
  border-radius: 20px;
}
#modal.hide{
  top: 0%;
}
.modal-header{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.modal-header h2{  
  font-family: "ComingSoon", sans-serif;
  color: #fff;
}

.modal-header i {
  color: black;
  cursor: pointer;
  background-color: crimson;
  border-radius: 50%;
  padding: 5px;
  width: 15px;
  height: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal-header > button{
  background-color: crimson;
  border-radius: 20px;
}

.teamContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: auto;
  height: 600px;
}

.memberContainer{
  display: flex;
  text-align: center;
  background-color: black;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}

.memberContainer img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.memberInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.memberInfo h1, p{
  margin: 0;
}

.memberInfo h1{
  background-color: gray;
  width: 8.2em;
  border-radius: 10px;
}
.memberInfo > p{
  background-color: rgb(4, 210, 4);
}
#modal.hide,
#fade.hide{
  opacity: 0;
  pointer-events: none;
}
#equipe{
  width: 700px;
  max-width: 90%;
  margin-left: auto;
}
a{
    font-family: "ComingSoon", sans-serif;
    color: black;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    
}
#open-modal{
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
#close-modal{
  margin-right: .5em;
  text-align: center;
}
#texto{
margin: auto;
padding-top: 0.5em;
padding-bottom: 0.5em;
color: white;

}
